* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    background-color: black;
    color: yellow;
    padding: 5px;
}
body {
    font-family: sans-serif;
}
h1 {
    width: 430px;
    margin: 20px auto;
    padding: 5px 10px;
}
a:hover {
    color: black;
    background-color: white;
}
table {
    background-color: yellow;
    /* color: white; */
    width: calc(100% - 40px);
    margin: 20px auto;
    font-weight: bold;
}
table, th, td {
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px 20px;
}
.center {
    text-align: center;
}

/* ------------------------------------ */
@media screen and (min-width: 360px){
    h1 {
        width: 360px;
        margin: 10px auto;
        font-size: 26px;
    }
}
