* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
    display: inline-block;
    height: 30px;
    padding: 0 15px;
}
body {
    background-color: green;
    font-family: sans-serif;
    /* font-size: 0.9em; */
}
h1 {
    width: 430px;
    /* background-color: white; */
    color: white;
    margin: 20px auto;
    padding: 5px 10px;
}
p {
    /* background-color: white; */
    color: white;
    width: 430px;
    height: 30px;
    line-height: 30px;
    margin: 20px auto;
    padding: 5px 10px;
    font-weight: bold;
}
p > span {
    padding-right: 170px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
a:hover {
    color: yellow;
    background-color: black;
}

/* ------------------------------------ */
@media screen and (min-width: 360px){
    h1 {
        width: 360px;
        margin: 10px auto;
        font-size: 26px;
    }
    p {
        width: 360px;
        margin: 10px auto;
    }
    p > span {
        padding-right: 100px;
    }
}
